<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="no">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />

<title>{{ page.title }}</title>

<link rel="stylesheet" type="text/css" href="http://www.nsd.uib.no/common/dwb/css/MyFontsWebfontsOrderM3014523.css" media="screen"/>
<link rel="stylesheet" type="text/css" href="/stylesheets/site_proj.css" media="screen"/>

  <!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->



</head>

<body>




<div id="headerwrapper">
<header>
<!-- <ul class="topsitemenu">
    <li><a href="/intra">Intranet (login)</a> | </li>
    <li><a href="/about/contact.html">Contact</a></li>
</ul> -->
<a href="/" style="color: white; font-size: 3em; margin-left: -1.5em;">Health Registries for Research</a>

<nav>
<ul>
<!--
    <li><a href="">Home</a></li>
    <li><a href="">About DwB</a></li>
    <li><a href="">Tasks</a></li>
    <li><a href="">Contact</a></li>
-->
</ul>
</nav>
<!-- <div id="search">
<form action="/searchresults.html" method="get">
    <p><input type="submit" value="Search" class="button" /> <input type="text" name="query" value="Search.." onclick="this.value=''" class="search" /></p>
</form>
</div> -->
</header>
</div>



	<div id="maincontent">
	<aside id="nav">

<ul>
  <li><a href="/about/">About HRR</a>
    <ul>
      <li><a href="/work-packages">Work Packages</a></li>
      <li><a href="/deliverables">Deliverables</a></li>
      <li><a href="/participants">Participants</a></li>
    </ul>
  </li>

  <li><a href="/events">Activities and Events</a>
  <ul>
    <li><a href="/events">Conferences</a></li>
    <li><a href="/calendar">Calendar</a></li>
  </ul>
  <li><a href="/remote-access">Vision for the Future</a>
  <ul>
    <li><a href="/remote-access">Remote Data Access</a></li>
    <li><a href="/resource-discovery-portals">Resource Discovery Portals</a></li>
  </ul></li>
<!-- <li><a href="/vision/trust.html">Circle of Trust</a></li></ul></li> -->
  <li><a href="/promotion">Promotion and Publications</a>
    <ul>
      <li><a href="/publications">Publications</a></li>
      <li><a href="/promotion">Promotion</a></li>
      <!-- <li><a href="/promotion/networks.html">Networking</a></li> -->
    </ul>
  </li>
</ul>

</aside>



	<div id="main">
	<section class="mainsection">

    {{ content }}

    
	</section>
	</div>



	<aside id="news">

   <a href="http://www.forskningsradet.no/servlet/Satellite?blobcol=urldata&blobheader=application%2Fpdf&blobheadername1=Content-Disposition&blobheadervalue1=+attachment%3B+filename%3D%22Verkt%C3%B8yforforskning2014HELSEREGISTRE.pdf%22&blobkey=id&blobtable=MungoBlobs&blobwhere=1274505474243&ssbinary=true">
      <img style="float:left;margin-top:4px;margin-left:0px;width: 100%;" src="/images/logo.png" alt="" />
   </a>

<!--
<div class="featured">
<h1>The DwB Formal End</h1>





<p>The project came to a formal end on 30 April 2015.
 [<a href='/about/'>More...</a>]
</p>

</div>




<div class="featured">
<h1>NEW Deliverable Available!</h1>





<p>D5.5 (Final report & recommendations for the continuation of services for European OS microdata) is now publicly available online
 [<a href='http://www.dwbproject.org/about/public_deliveraples/dwb_d5-5_eu-os-microdata-services-continuation_final-recommendations-report.pdf'>More...</a>]
</p>

</div>




<div class="featured">
<h1>New Service: Visualisation Tool</h1>





<p>Legal frameworks for official statistics microdata access demonstrated by Visualisation Tool.
 [<a href='/service/legal-frameworks-visualisation.html'>More...</a>]
</p>

</div>




<div class="featured">
<h1>Microdata Information System MISSY</h1>





<p>Systematically structured metadata for official statistics.
 [<a href='/service/missy.html'>More...</a>]
</p>

</div>




<div class="featured">
<h1>New Service: CIMES</h1>





<p>Overview of metadata of official microdata for research purposes.
 [<a href='/service/cimes.html'>More...</a>]
</p>

</div>




<div class="featured">
<p><a title="News archive" target="_self" href="/news_archive.html">News archive &raquo;</a></p>
</div> -->
	</aside>



	</div>
	<div id="footerwrapper">
	<footer>
	<div class="canvas">
<div id="sitemap">
</div>
<div class="fp7">
<p>This project has received the financial support of <a href="http://www.forskningsradet.no/en/Home_page/1177315753906" style="color: white">The Research Council of Norway</a> </p>
</div>
<p style="padding-top: 0px; color: white; float: left; width: 680px;">
    Copyright &copy; Health Registries for Research (HRR)
    &bull; <a href="http://healthregistries.forresearch.no">healthregistries.forresearch.no</a>
    &bull; <a style="color:white;" href="mailto:contact@helseregistre.forforskning.no?subject=Health Registries for Research">contact</a></p>
</div>
	</footer>
	</div>



</body>
</html>
